# IDE
.vscode/
*.code-workspace
.idea/

# Thirdparty
thirdparty/lib/
thirdparty/include/

# Python
python/dist/
python/hotpatch.egg-info/
python/hotpatch/__pycache__/
python/hotpatch/cli/__pycache__/

# CMake
build/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
